resources:
  jobs:
    sat_initializer:
      name: "SAT Initializer Notebook (one-time)"
      tags:
        Application: SAT

      tasks:
        - task_key: "sat_initializer"

          {{- if eq .serverless false }}
          job_cluster_key: job_cluster

          libraries:
            - pypi:
                package: dbl-sat-sdk
          {{- else }}
          environment_key: "default"
          {{- end }}
          notebook_task:
            notebook_path: "/Workspace/Applications/SAT/files/notebooks/security_analysis_initializer"
            base_parameters:
              secret_scope: "{{.secret_scope}}"
              secret_key_names: '{{.secret_key_names}}'
              account_id_param: "{{.account_id}}"
              client_id_param: "{{.client_id}}"
              tenant_id_param: "{{.tenant_id}}"
              subscription_id_param: "{{.subscription_id}}"
              sql_warehouse_id_param: "{{.sql_warehouse_id}}"
              analysis_schema_name_param: "{{.analysis_schema_name}}"
              proxies_param: '{{.proxies}}'
              use_sp_auth_param: "{{.use_sp_auth}}"

      {{- if eq .serverless false }}
      job_clusters:
        - job_cluster_key: job_cluster
          new_cluster:
            data_security_mode: SINGLE_USER
            num_workers: 5
            spark_version: {{.latest_lts}}
            runtime_engine: "PHOTON"
            node_type_id: {{.node_type}}
            {{- if eq .cloud "aws" }}
            aws_attributes:
              availability: SPOT_WITH_FALLBACK
              first_on_demand: 1
            {{- end }}
      {{- else }}
      environments:
        - environment_key: "default"
          spec:
            client: "5"
      {{- end }}