resources:
  jobs:
    sat_secrets:
      name: "SAT Secrets Scanner"
      tags:
        Application: SAT
      schedule:
        quartz_cron_expression: {{.secrets_scanner_schedule}}
        timezone_id: {{.job_timezone}}

      tasks:
        - task_key: "secrets_scanner"
        
          {{- if eq .serverless false }}
          job_cluster_key: job_cluster
          
          libraries:
            - pypi:
                package: dbl-sat-sdk
          {{- end }}
          notebook_task:
            notebook_path: "/Workspace/Applications/SAT/files/notebooks/security_analysis_secrets_scanner"
      
      {{- if eq .serverless false }}
      job_clusters:
        - job_cluster_key: job_cluster
          new_cluster:
            data_security_mode: SINGLE_USER
            num_workers: 5
            spark_version: {{.latest_lts}}
            runtime_engine: "PHOTON"
            node_type_id: {{.node_type}}
      {{- end }}